<!DOCTYPE html>
<html>
<head>
  <title>JABlog</title>
  <link rel="icon" type="image/png" href="/images/icon.gif" />
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= css :application %>
  <%= js :application %>

</head>
<body>

<div class="header">
  <h1><%= @title %></h1>
</div>

<div id="content">
  <%= erb :tree %>
  <%= yield %>
</div>


<div class="grass"></div>

</body>
</html>

