<div class="other-posts row" >
  <% @posts.each do |post| %>
    <div class="col-sm-4 text-align-center">
    <a href="/<%= @blog.url %>/<%= post.url %>">
      <div class="link" style="background-image: url('/images/posts/<%= post.id %>/<%= post.images.first.file %>');">
          <div class="content">
              <span class="title"><%= post.title %></span>
              <br>
              <span><%= post.date %></span>
          </div>
      </div>
    </a>
    </div>
  <% end %>
</div>
