
  <h2><%= @post.title %></h2>

  <div class="with-padding branch-top">
    <%= h @post.content.gsub("\n", "</br>") %> 
  </div>

    <div id="carousel-example-generic" class="carousel slide with-padding" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% @post.images.each_with_index do |img, index| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= index==0 ? 'active' : '' %>"></li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @post.images.each_with_index do |img, index| %>
          <div class="item<%= (index == 0) ? ' active': '' %>">
            <img class="img-sized" src="/images/posts/<%= @post.id %>/<%= img.file %>">
          </div>
        <% end %>
      </div>

    </div>

    <div class="branch-top with-padding-horizontal">
      <h3>Autres journées</h3>
    </div>
    
    <div class="with-padding">
      <%= erb :other_posts %>
    </div>

  </div>

